<!doctype html>

<html ng-app="client">
<head>

	<title>{{title}}</title>
	<meta charset = 'utf-8'>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,700italic,600italic,800,800italic" rel="stylesheet" type="text/css" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/app.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>

	<script src="http://momentjs.com/downloads/moment-with-locales.js" type="text/javascript"></script>

	<script src="client.js"></script>
	<script src="/js/directive.js"></script>
</head>
<body>
	<div class="container" ng-controller='clientController'>
		<div class="row">
			<div class="col-sm-3 text-center">
				<h4>Your IP: {{ipAddress}}</h4>
			</div>
			
		</div>
		<hr/>
		<div class="row">
			<div class="col-sm-3">
				<ul class="list-group">
					<li class="list-group-item">
						Local Users

					</li>
					<li class="list-group-item" ng-repeat="user in users" >
						{{user.ip}}
					</li>
				</ul>
			</div>

			<div class="col-sm-9">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="url in urls track by $index">
						<div class="row">
							<!-- <div class="col-sm-2">
								<b>{{url}}</b>
							</div>
 -->							<div class="col-sm-10">
								{{url}}
							</div>

						</div>
					</li>
				</ul>
			</div>
		</div>
		<hr/>
		<div class="row">
			<form ng-submit="send()" class="col-sm-12">

				<div class="input-group input-group-sm">
					<input type="text" class="form-control" ng-model="url" placeholder="url">
					<span class="input-group-btn">
						<input type="submit" class="btn btn-primary" value="Send" ng-disabled="!url">
					</span>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
