html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    height: 100%;
    background: #FFFFFF;
    font-weight: normal;
}
.uppercase{
	text-transform: uppercase;
}
.container{
	margin: 0 auto;
	padding: 0;
}
.xs{
	font-size: 8px;
}